img{
    height: 300px;
}

main{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
}

.bi{
    grid-column: 1/3;
    grid-row: 1/3;
}
.ca{
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
    
}
.bd{
    grid-column: 3/5;
    grid-row: 1/3;
}
.pi{
    grid-column: 1/3;
    grid-row: 3/5;

}
.pd{
    grid-column: 3/5;
    grid-row: 3/5;
}