*{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contElementos {
    padding: 10px;
    font-weight: bold;

}

/*---------------------------------------------------------*/

header{
 background-color: aqua;
 min-height: 80px;
 margin-bottom: 10px;
}
nav{
 background-color: rgb(227, 255, 201);
}
main{

}
article{
 background-color: rgb(161, 225, 247);
 min-height: 350px;
 margin-bottom: 10px;
}
.section1{
 background-color: rgb(242, 165, 76);
}
.section2{
  background-color: rgb(242, 165, 76);

}
.section3{
  background-color: rgb(242, 165, 76);

}
aside{
    background-color: rgb(206, 154, 241);
    min-height: 350px;
    margin-bottom: 10px;
}
footer{
    background-color: rgb(132, 233, 239);
    clear: both; /*Esto lo tuve que buscar porque no sabía como 
                hacer que el pie no me pasase por encima de todo*/
    /*Sirve para limpiar los float*/
    min-height: 50px;
}