body {
  box-sizing: border-box; 
  margin: 0; 
  padding: 30px;
  
}

/* ----------------POR ENCIMA DE 900PX --------------------------- */
.contenedorPrincipal {
  display: grid;
  grid-template-columns: repeat(7, 120px); 
  grid-template-rows: repeat(4, 150px);
  justify-content: center;
  align-items: center;
  
}

section {
  width: 100%;
  height: 100%;
  font-size: xx-large;
}

.imagen1 { 
    background: #38505f; 
    grid-column: 5 / span 3; 
    grid-row: 2 / span 2; 
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
}
.imagen2 { 
    background: #6c0f71; 
    grid-column: 2 / span 3; 
    grid-row: 2 / span 2; 
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
}
.imagen3 { 
    background: #fff200; 
    grid-column: 1 / span 3; 
    grid-row: 1 / span 2; 
    
}
.imagen4 { 
    background: #ff3d00; 
    grid-column: 4 / span 3; 
    grid-row: 1 / span 2; 
    z-index: 1;
    display: flex;
    justify-content: end;
}
.imagen5 { 
    background: #5b86b0; 
    grid-column: 4 / span 2; 
    grid-row: 3 / span 2; 
    display: flex;
    align-items: end;
    
}
.imagen6 { 
    background: #39a24a; 
    grid-column: 1 / span 3; 
    grid-row: 3 / span 2; 
    display: flex;
    align-items: end;
    
}

/* ----------------POR DEBAJO DE 900PX --------------------------- */

@media(max-width: 900px){
    .imagen1 { 
        grid-column: 5 / span 3; 
        grid-row: 2 / span 2; 
        z-index: 1;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .imagen2 { 
        grid-column: 2 / span 3; 
        grid-row: 2 / span 2; 
        z-index: 2;
        color: white;
        display: flex;
        align-items: center;
    }
    .imagen3 { 
        grid-column: 1 / span 3; 
        grid-row: 1 / span 2; 
        
    }
    .imagen4 { 
        grid-column: 4 / span 3; 
        grid-row: 1 / span 2; 
        z-index: 1;
        display: flex;
        justify-content: end;
    }
    .imagen5 { 
        grid-column: 4 / span 2; 
        grid-row: 3 / span 2; 
        display: flex;
        align-items: end;
        
    }
    .imagen6 { 
        grid-column: 1 / span 3; 
        grid-row: 3 / span 2; 
        display: flex;
        align-items: end;
        
    }

}