version: '3.8'

services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - red_interna
    volumes:
      - mariadb_data:/var/lib/mysql

  php-apache:
    image: php:8.4-apache
    container_name: php-apache
    depends_on:
      - mariadb
    ports:
      - "80:80"
    volumes:
      - ./php:/var/www/html
    networks:
      - red_interna

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    depends_on:
      - mariadb
    environment:
      PMA_HOST: mariadb
    ports:
      - "${PMA_PORT}:80"
    networks:
      - red_interna

networks:
  red_interna:

volumes:
  mariadb_data:
