main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    gap: 10px;
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

/* Posiciones y colores */
.imagen1 {
    background-color: navy;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

.imagen2 {
    background-color: purple;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    z-index: 6; /* encima de todas */
}

.imagen3 {
    background-color: gold;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.imagen4 {
    background-color: orange;
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    z-index: 4;
}

.imagen5 {
    background-color: lightblue;
    grid-column: 4 / 6;
    grid-row: 3 / 4;
    z-index: 1;
}

.imagen6 {
    background-color: green;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

@media(max-height:899px){
    section{
        height: 300px;
        width: 300px;
    }
    .imagen1{
        background-color: rgb(41, 93, 154);
    }
    .imagen2{

    }
    .imagen3{
        background-color: yellow;
    }
    .imagen4{

    }
    .imagen5{
        background-color: rgb(128, 128, 226);

    }
    .imagen6{

    }
}
